#besa{
  font-size: 25px;
}
/*admin estilos
---------------------------------------------------------------
*/
#venta{
  border: 1px solid #bbb;
  height: 350px;
  width: 750px;
  margin: 5px;
  margin-left: 350px;
  background-color: #ddd;
}
#en{
  margin-right: 5px;
  margin-bottom: 10px;
}
#correo{
  margin-bottom: 10px;
}
#en{
  margin-left: -870px;
  margin-top: 30px;
}
#env{
  border: 0px;
  background-color: #00CC99;
}
#env:hover{
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}

/*fin admin estilos
---------------------------------------------------------------
*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*-----------footer---------------------------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
footer{
  width: 100%;
  background: #202020;
  color: white;
  margin-top: 150px;

}
.contenedor-todo-footer{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;

}
.contenedor-body{
  display: flex;
  justify-content: space-between;
}

.columna1{
  max-width: 600px;
}
.columna1 h1{
  font-size: 15px;
  text-align: center;

}
.columna1 img{
  width: 50px;
  margin-top: 20px;
  margin-left: 105px;
}

.columna2{
  max-width: 400px;
  margin-left: 250px;
}
.columna2 h1{
  font-size: 15px;
  text-align: center;
}
.columna2 img{
  width: 50px;
  margin-top: 20px;

}

.columna3{
  max-width: 400px;
  margin-left: 250px;
}
.columna3 h1{
  font-size: 15px;
  text-align: center;
}
.columna3 img{
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

.columna4{
  max-width: 400px;
  margin-left: 200px;
}
.columna4 h1{
  font-size: 15px;

}
.columna4 img{
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.contenedor-footer{
  width: 99%;
  background-color: #101010;
  display: flex;
  justify-content:space-between;
  padding: 5px;
}
.copyright{
  color: #c7c7c7;
}

.copyright a{
  text-decoration: none;
  color: #c7c7c7;
  font-weight: bold;s
  font-size: 10px;
}
.autores a{
  text-decoration: none;
  color: #c7c7c7;
  font-size: 10px;
}

@media screen and (max-width: 715px){
  .contenedor-body{
      flex-wrap: wrap;
  }
  .columna1{
    max-width: 100%;
  }
  .columna2,
  .columna3,
  .columna4{
    margin-top: 40px;
  }
}
.front{
  height: 0px;
}
