.barraizquierda{
  margin-top:-15px ;
}
#mySidebar{
  background-color: #12322b;
}
#ce {
  color: white;
}
#mySidebar a {
  color: white;
}
#besa{
  font-size: 25px;
}
/*admin estilos
---------------------------------------------------------------
*/
#venta{
  border: 1px solid #bbb;
  height: 550px;
  width: 750px;
  margin: 5px;
  margin-left: 350px;
  background-color: #ddd;
}
.dadminnombre{
  margin-left: 30px;
}
#nombre{
    width: 680px;
}
.dadminapp{
  margin-top: 20px;
  margin-left: 30px;
}
#apepat{
    width: 680px;
}
.dadminapm{
  margin-top: 20px;
  margin-left: 30px;
}
#apemat{
    width: 680px;
}
.dadmince{
  margin-top: 20px;
  margin-left: 30px;
}
#email-03{
    width: 680px;
}
#en{
  margin-right: 5px;
  margin-bottom: 10px;
}
#correo{
  margin-bottom: 10px;
}
#en{
  margin-left: -360px;
  margin-top:-10px;
}
#env{
  border: 0px;
  background-color: #00CC99;
}
#env:hover{
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}
#re{
  margin-top: 37px;
  margin-left: -360px;
}
#reg{
  border: 0px;
  background-color: #00CC99;
}
#reg:hover{
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}
.navbar-header{
  width: 400px;
  }
/*fin admin estilos
---------------------------------------------------------------
*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*-----------footer---------------------------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
footer{
  width: 100%;
  background-color: #000000;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
}
#contenedor-footer{
  width: 100%;
  height: 150px;
  max-width: 1200px;
  margin: auto;
  justify-content:space-between;
  display: flex;
}
#itt{
  margin-left: 10px;

}
.ittl{
  font-size: 22px;
  color: #c7c7c7;
}
.imgitt{
  margin-top: 30px;
  height: 90px;
  width: 150px;
}
#itm{
  margin-left: 1000px;
  margin-top: -50px;
}
.itme{
  font-size: 22px;
  color: #c7c7c7;
}
.imgtec{
  margin-top: 90px;
  height: 80px;
}



footer{
  width: 100%;
  background: #202020;
  color: white;

}
.contenedor-todo-footer{
  width: 100%;
  max-width: 1200px;
  padding: 20px;
 margin:auto;
}
.contenedor-body{
  display: flex;
  justify-content: space-between;
}

.columna1{
  max-width: 600px;
  margin-left: -80px;
  margin-top: -20px;
}
.columna1 h1{
  font-size: 15px;
  text-align: center;

}
.columna1 img{
  width: 50px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
}

.columna2{
  max-width: 400px;
  margin-right: -10px;
}
.columna2 h1{
  font-size: 15px;
  text-align: center;
}
.tel{
  margin-left: 20px;
  margin-top: 20px;
}
.tel2{
  margin-left: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.columna3{
  margin-right: -5px;
  max-width: 400px;

}
.columna3 h1{
  font-size: 15px;
  text-align: center;
}


.columna4{
  margin-right: -80px;
  max-width: 400px;
}
.columna4 h1{
  font-size: 15px;
  text-align: center;

}


.contenedor-footer{
  width: 100%;
  background-color: #101010;
  display: flex;
  justify-content:space-between;
  padding: 5px;
}
.copyright{
  color: #c7c7c7;
}

.copyright a{
  text-decoration: none;
  color: #c7c7c7;
  font-weight: bold;s
  font-size: 10px;
}
.autores a{
  text-decoration: none;
  color: #c7c7c7;
  font-size: 10px;
}

@media screen and (max-width: 715px){
  .contenedor-body{
      flex-wrap: wrap;
  }
  .columna1{
    max-width: 100%;
  }
  .columna2,
  .columna3,
  .columna4{
    margin-top: 40px;
  }
}
.front{
  height: 10px;
}
